---
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{content.title}</title>
</head>

<body>
  <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
    <div class="mx-auto max-w-md">
      <article class="prose prose-slate lg:prose-xl">
        <slot />
      </article>
    </div>
  </div>
</body>

</html>