---
import { replaceAllWhitespaceWithSingleSpace } from "../util/formatter";

const containerStyles = replaceAllWhitespaceWithSingleSpace(`
  relative 
  flex 
  min-h-screen 
  flex-col 
  justify-center 
  overflow-hidden 
  bg-gray-50 
  py-6 
  sm:py-12
`);

const mainElementStyle = replaceAllWhitespaceWithSingleSpace(`
  mx-auto 
  min-h-screen 
  max-w-prose
`);

const articleElementStyle = replaceAllWhitespaceWithSingleSpace(`
  prose 
  prose-slate
`);

const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{content.title}</title>
</head>

<body>
  <div class={containerStyles}>
    <div class={mainElementStyle}>
      <article class={articleElementStyle}>
        <slot />
      </article>
    </div>
  </div>
</body>

</html>